.song-artist {
  font-size: 12px;
  color: var(--eye-color);
}

.music_card__play_btn{

  img {
    width: 30px;
  }
}

.horizontal-music_card{
  margin-right: 20px;
  min-width: 150px;

  .music_card__img {
    img {
      height: 80px;
      width: 100%;
      object-fit: cover;
      margin-bottom: 8px;
      border-radius: 8px;
    }
  }

  .music_card__content {
    margin-bottom: 8px;
    /* position: relative; */
    overflow: hidden;
    width: 100%;
  }
}

.vertical-music_card{
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  .music_card__img {
    width: 80px;
    margin-right: 12px;
    img {
      border-radius: 4px;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .music_card__info {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .music_card__play_btn {
      flex-shrink: 1;
    }
  }
}

.searching_musicCard {
  background-color: var(--primary-color);
  position: absolute;
  width: auto;
  top: 32px;
  padding: 15px 10px 0 10px;
  border-radius: 0 0 16px 16px;

  .searchbar-music-card_list {
    display: flex;
    flex-wrap: wrap;

    .vertical-music_card {
      width: 300px;
      margin-bottom: 30px;
    }
  }
  
  .music_card__img {
    margin: 0;
    margin-right: 5px;
    width: auto;
    img:first-child {
      width: 40px;
    }
  }

  .music_card__content {
    .song-artist {
      margin-top: 4px;
      color: var(--text-color);
    }
  }

  .music_card__info{
    .music_card__play_btn {
      display: none;
    }
  }
}
