.song_background {
  position: absolute;
  z-index: -1;
  filter: blur(5px);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lyrics-container {
  @media(min-width: 768px) {
    width: 600px;
    margin: 0 auto;
  }
  margin: 0 10px;
  .song_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    i {
      font-size: 20px;
    }

    &__avatar-profil {
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
  }

  .song_intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    
    &__first-part {
      display: flex;
      align-items: center;
    }

    &__pic {
      width: 50px;
      border-radius: 8px;
      margin-right: 8px;
    }

    &__description {
      &_song-name {
        font-size: 16px;
        font-weight: bolder;
        margin-bottom: 4px;
      }
      &_song-artist {
        font-size: 14px;
        color: var(--grey-color);
      }
    }

    i {
      font-size: 18px;
      padding: 4px;
      background: rgba(145, 139, 132, 0.7);
      border-radius: 50%;
    }
  }

  .lyrics {
    &_scroll {
      height: 50vh;
      overflow-y: scroll;
      margin: 0 auto 10% auto;
      font-size: 22px;

      &-span{
        font-size: 23px;
      }
      &-area {
        height: 5%;
        width: 100%;
        position: fixed;
        top: 50px;
        left: 0;
      }
    }
    &_player-container {
      img {
        width: 32px;
        height: 32px;
      }
      margin: 0 auto;
      width: 200px;
      text-align: center; // to remove if adding range-input
      button {
        padding-left: 0;
        background: none;
        border: none;
      }
      .bubble {
        background: none;
        color: white;
        padding: 4px 12px;
        position: absolute;
        border-radius: 4px;
        left: 50%;
        transform: translate(-50%, -150%);
      }
      .bubble::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 2px;  
        background: none;
        top: -1px;
        left: 50%;
      }
      input[value]::-webkit-progress-value::before {
        color: #fff;
        content: '80%';
        position: absolute;
        right: 0;
        top: -125%;
      }
      input[type=range] {
        -webkit-appearance: none;
        background: transparent;
        width: 100%;
      }
      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: #fff;
        height: 15px;
        width: 15px;
        margin-top: -6px;
        border-radius: 99px;
      }
      input[type=range]::-webkit-slider-runnable-track {
        width: 300px;
        height: 4px;
        background: #ddd;
      }
      progress {
        background: #fff;
      }
      .range-max {
        float: right;
      }
    }
  }
}

@media(min-width: 768px) {
  /* width */
::-webkit-scrollbar {
  height: 4px;
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--grey-color);
}
}