#searchBar {
  border-radius: 4px;
  padding: 8px 0 8px 16px;
  border: none;
  width: 80%;
  background: var(--primary-color);
  color: var(--text-color);
  font-size: 15px;
  flex-shrink: 1;
  
  &:focus {
    outline: none;
  }
  
  &::placeholder {
    color: var(--text-color);
    font-size: 15px;
  }
}

.searchBar__cancel-btn {
  border: none;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding-right: 12px;
  font-size: small;

  &:focus {
    outline: none;
  }
}