body {
  font-family: 'Montserrat' !important;
  font-style: normal;
  font-weight: 400;
  background-color: var(--bg-color);
  color: #fff;
  padding-top: 8vh;
}

a {
  text-decoration: none;
}

/* img {
  width: 100%;
  height: auto;
  object-fit: cover;
} */

p {
  margin: 0;
}